<h1> Files </h1>
<p><% @files.each do |file| %>
file name is: <%= file %></br>
<% end %></p>
<!--
Addition: <%= 1+2 %>
Concatenation: <%= "cow" + "boy" %>
Time in one hour: <%= 1.hour.from_now.localtime %>
-->
